// custom properties
$primary : #F7B538;
// $dark : #361e1e;
//$dark : #01183d;
$dark: #1b1f22;
$danger : #CD4631;

$border-radius: 0rem;
$border-radius-lg: 0rem;
$border-radius-sm: 0rem;

$font-weight-bold : 500;


// import bootstrap
@import '../../node_modules//bootstrap//scss/bootstrap.scss'

